html, body{
	height: 100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.back-image{
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	height: 52em;
	width: 100%;
	display: block;
	z-index: -1;
	position: relative;
}

.middle-big-container{
	margin: 0 auto;
	background-color: white;
	opacity: 1;
	height: 49em;
	width: 65%;
	z-index: 4; 
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.button-container{
	z-index: 5;
	border: none;
	background-color: white;
	margin: 0 auto;
	width: 35%;
	height: 10%;
	position: absolute;
	top: 10%;
	left: 28%;
	right: 0;
	bottom: 0;
}

.only-buttons{
	width: 25%;
	height: 100%;
	padding: 0 0 0 0;
	border: none;
	background-color: white;
	font-size: 24pt;
	float: left;
	display: inline-block;
	text-align: center;
	cursor: pointer;
}

.button-container .only-buttons:hover {
    background-color: #3e8e41;
}

.bottom-line{
	background-color: purple;
	position: fixed;
	height: 8%;
	width: 100%;
	z-index: 6;
	bottom: 0;
	left: 0;
}

.the-video{
	z-index: 7;
	position: absolute;
	margin: 0 auto;
	top: 18em;
	left: 0;
	right: 0;
	bottom: 0;
}

.split-line-container{
	background-color: red;
	margin: 0 auto;
	z-index: 8;
	position: absolute;
	height: 2px;
	width: 65%;
	top: 10em;
	left: 0;
	right: 0;
	bottom: 0;
}

.signature{
	position: fixed;
	z-index: 9;
	color: black;
	top: 95%;
	left: 90%;
	right: 0;
	bottom: 0;
}

